body {
    background-color: hsl(0, 0%, 0%);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#page {
    background-color: hsl(290, 5%, 50%);
    margin: 0 auto 0 auto;
}

h1 {
    color: hsl(197, 50%, 90%);
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;
    text-shadow: 2px 2px 1px hsl(290, 5%, 35%);
}

h2 {
    color: hsl(176, 50%, 90%);
    margin: 0 0 10px 0;
    padding: 0px 10px 20px 10px;
    text-shadow: 2px 2px 1px hsl(290, 5%, 35%);
}

ul {
    background-color: hsl(290, 5%, 50%);
    border: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: hsl(290, 5%, 80%);
    color: hsl(360, 100%, 100%);
    border-top: 1px solid hsl(290, 5%, 90%);
    border-bottom: 1px solid hsl(290, 5%, 70%);
    list-style-type: none;
    text-shadow: 2px 2px 1px hsl(290, 5%, 70%);
    padding-left: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.running {
    background-color: hsl(155, 60%, 50%);
    text-shadow: 2px 2px 1px hsl(155, 60%, 40%);
    border-top: 1px solid hsl(155, 60%, 60%);
    border-bottom: 1px solid hsl(155, 60%, 40%);
}

.full {
    background-color: hsl(12, 60%, 50%);
    text-shadow: 2px 2px 1px hsl(12, 60%, 40%);
    border-top: 1px solid hsl(12, 60%, 60%);
    border-bottom: 1px solid hsl(12, 60%, 40%);
}