body {
    background-color: hsl(0, 0%, 0%);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#page {
    background-color: hsl(290, 5%, 50%);
    margin: 0 auto 0 auto;
}

h1 {
    color: hsl(197, 50%, 90%);
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;
    text-shadow: 2px 2px 1px hsl(290, 5%, 35%);
}

h2 {
    color: hsl(176, 50%, 90%);
    margin: 0 0 10px 0;
    padding: 0px 60px 20px 60px;
    text-shadow: 2px 2px 1px hsl(290, 5%, 35%);
}

form {
    padding: 0 60px 65px 60px;
}

label {
    color: hsl(360, 90%, 90%);
    display: block;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

input[type='text'],
input[type='password'] {
    background-color: hsl(290, 5%, 70%);
    color: hsl(0, 0%, 30%);
    font-size: 20px;
    width: 100%;
    padding: 4px 6px;
    border: 1px solid hsl(290, 5%, 70%);
}

input[type='text']:focus,
input[type='password']:focus {
    border: 1px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 90%);
    outline: none;
}

input[type='submit'] {
    display: block;
    background-color: hsl(120, 35%, 50%);
    color: hsl(100, 60%, 85%);
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
}

input[type='submit']:hover {
    background-color: hsl(120, 55%, 50%);
    color: hsl(100, 60%, 85%);
    cursor: pointer;
    box-shadow: none;
    position: relative;
}

label[for='awardType'], label[for='subject'] {
	display: inline-block; 
	width: 4em;}


.feedback {
    color: hsl(360, 70%, 70%);
    padding: 10px 0 0 22px;
}

input[type='submit'].disabled {
    background-color: hsl(120, 35%, 20%);
}
input[type='submit'].disabled:hover {
    cursor: not-allowed !important;
}

.hide {display: none;}