body{
    margin: 0;
    padding: 0;
}
#gameCanvas {
    background-color: black;
    display: block;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'GameFont';
    src: url('CodeNewRoman.otf');
    font-style: normal;
    font-weight: normal;
}